<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("app.views.layouts.header.sample_app"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".english"), locale:"en" %></li>
        <li><%= link_to t(".vietnamese"), locale:"vi" %></li>
        <li><%= link_to t("app.views.layouts.header.home"), "#" %></li>
        <li><%= link_to t("app.views.layouts.header.help"), "#" %></li>
        <li><%= link_to t("app.views.layouts.header.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
